.featured {
	 flex: 2;
	 -webkit-box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(0, 0, 0, 0.47);
	 box-shadow: 0.2rem 0.4rem 1rem 0.1rem rgba(201, 201, 201, 0.47);
	 padding: 1rem;
    border-radius: 1rem;
}
 .featured .top {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 color: gray;
}
 .featured .top .title {
	 font-size: 1.6rem;
	 font-weight: 500;
}
 .featured .bottom {
	 padding: 2rem;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 gap: 1.5rem;
}
 .featured .bottom .featuredChart {
	 width: 10rem;
	 height: 10rem;
}
 .featured .bottom .title {
	 font-weight: 500;
	 color: gray;
}
 .featured .bottom .amount {
	 font-size: 3rem;
}
 .featured .bottom .desc {
	 font-weight: 300;
	 font-size: 1.2rem;
	 color: gray;
	 text-align: center;
}
 .featured .bottom .summary {
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}
 .featured .bottom .summary .item {
	 text-align: center;
}
 .featured .bottom .summary .item .itemTitle {
	 font-size: 1.4rem;
	 color: gray;
}
 .featured .bottom .summary .item .itemResult {
	 display: flex;
	 align-items: center;
	 margin-top: 1rem;
	 font-size: 1.4rem;
}
 .featured .bottom .summary .item .itemResult.positive {
	 color: green;
}
 .featured .bottom .summary .item .itemResult.negative {
	 color: red;
}
 