.cardBlock {
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
  padding: 1rem;
  max-width: 40%;
  direction: rtl;
  font-size: 1rem;
  border-radius: 30px;
  background-color: #fff;
  margin-bottom: 1rem;
}

.iconsAtTop {
  display: flex;
  flex-direction: row;
}

.btnClassAdBlock {
  height: 100%;
}

.buttonPart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.headerOnTheTop {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

@media only screen and (max-width: 700px) {
  .cardBlock {
    max-width: 100%;
  }
}