.cardBlock {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1rem;
  direction: rtl;
  font-size: 1rem;
  border-radius: 30px;
  background-color: #fff;
  margin-bottom: 1rem;
}

.iconsAtTop {
  display: flex;
  flex-direction: row;
}

.headerOnTheTop {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}