.blogComment {
  display: flex;
  flex-direction: column;
}

.titleComments {
  font-size: 3.2rem;
  color:darkblue;
  justify-self: start;
}

.userComment {
  font-size: 2.4rem;
  color: black;
}

.adminPanel {
  margin: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.blogComment li {
  list-style-type: none;
}
.commentTitlePart {
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.commentsHeaderPart {
  display: flex;
  direction: ltr;
  align-items: flex-end;
}

.userNameHeader {
  color: rgb(42, 122, 226) !important;
  font-size: 1.8rem;

}
.timeHeader {
  font-size: 1.6rem;
}