.blogComment {
  display: flex;
  flex-direction: column;
}

.titleComments {
  font-size: 1.5em;
  border: 1px solid gray;
}

.blogComment li {
  list-style-type: none;
}
.commentTitlePart {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.commentsHeaderPart {
  display: flex;
  direction: ltr;
  align-items: flex-end;
}

.userNameHeader {
  color: rgb(42, 122, 226) !important;
  font-size: 1.8rem;
  
}
.timeHeader {
  font-size: 1.6rem;
}