.footerFooter {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  font-size: 1.5rem;
}

.footerFooter li {
  list-style-type: none;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .footerFooter {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}