/*#region rootSettings*/
/* 
 *	set settings for root.
 *	adjusting font size to 62.5% 
 *	62.5% is equal to 10px in most browsers, so it makes it easier to calculate REM units.
 */
:root {
  font-size: 62.5%;
}
/*#endregion*/
body {
    color: #191F2E;
    margin: 0;
    font-size: 0.875rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    /*min-height: 100vh; */
}

body,
html,
#app {
  height: 100%;
}

#app {
  position: flex;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}



.logRegBox {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

.App {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
