body {
    color: #191F2E;
    margin: 0;
    font-size: 0.875rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 1.43;
    background-color: #FFFFFF;
    min-height: 100vh;
}

body,
html,
#app {
  height: 100%;
}

#app {
  position: relative;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
}
