.wrapperHomePage {
    margin: 5rem;
}

.sectionAdsInMain {
    display: grid;
    grid-template-columns: 0.2fr 1.6fr 0.2fr;

}

.adsContainerMain {
    display: flex;
    flex-direction: row;
}

.sectionAdsInMain * {
    max-width: 100%;
}