.wrapperHomePage {
    margin: 5rem;
}

.sectionAdsInMain {
    display: grid;
    grid-template-columns: 0.2fr 1.6fr 0.2fr;

}

.adsContainerMain {
    display: flex;
    flex-direction: row;
}

.sectionAdsInMain * {
    max-width: 100%;
}

@media (max-width: 700px) {
    .wrapperHomePage {
        margin: 0px;
    }

    .sectionAdsInMain {
        max-width: 100%;
    }

    .sectionAdsInMain .ad {
        margin: 1vw;
    }

    .adsContainerMain {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .sectionAdsInMain {
        max-width: 100%;
        margin: 0px;
    }

    .sectionAdsInMain * {
        padding: 2%;
        margin: 2%;
    }

    .sectionAdsInMain button {
        padding: 1em;

    }
}