/*link class styles*/
.link{color: black;text-decoration: none;}
.link:hover{opacity: 0.5;}
/*end link class styles*/
.logo {
  /*logo class style*/
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin:1rem;
}
.main{
  /*main part style*/
  margin: 1rem;
display: flex;
flex-direction: row;
}
.userPart{
  /*userPart part style*/
  margin: 1rem;
  display: flex;
  flex-direction: row;
  }
@media (max-width: 960px) {
  .logo {
  }
  .userPart{
    flex-direction: column;
  }
  .main {
    flex-direction: column;
  }
}
