.pack {
  display: flex;
  flex-direction: column;
  border: 7px outset #349FA4;
  border-radius: 25px;
  justify-content: center;
  align-content: center;
  min-width: 30%;
}

.pack section h2 {
  font-size: 1.5rem;
  text-align: center;
}

.pack section h1 {
  text-align: center;
}

.pack section p {
  text-align: center;
  font-size: 1.5rem;
}

.pack section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}