
span{color:red;text-decoration: underline;}
.paramVisible {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.paramNotVisible {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}