.paramVisible {
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  max-width: 90%;
}

.key {
  text-decoration: underline;
  color: blueviolet;
  text-align: right;
}

.val {
  text-decoration: none;
  text-align: right;

}

.paramNotVisible {
  /* visibility: hidden; */
  display: none;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}