.search {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  border: 2px solid black;
  justify-content: flex-start;
}
.notDisplayRent{
  display:none;
}
.displayRent{
  display: flex;
  max-width: 20%;;
}
.displayBuy{display: block;}
.notDisplayBuy{display: none;}
.search *{max-width: 90%;}
.search input{max-width: 60%;align-self: center;
}

.selectStyle{
  /* max-width: 80%; */
}

.notVisible{
  display: none;
}
.paramVisible {
  display: block;
}
.moreParams{
  margin: 1rem;
  border-radius: 5px;
}