.search {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  border: 2px solid black;
  justify-content: flex-start;
}
.notDisplayRent{
  display:none;
}
.displayRent{
  display: block;
}
.displayBuy{display: block;}
.notDisplayBuy{display: none;}
.search *{max-width: 90%;}
.selectStyle{
  /* max-width: 80%; */
}
.notVisible{
  display: none;
}
.paramVisible {
  display: block;
}
.moreParams{
  margin: 1rem;
  border-radius: 5px;
}