.blog-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.blog-goBack {
  text-decoration: none;
  font-size: 1.8rem;
  color: #a9a9a9;
  margin-bottom: 2rem;
  display: block;
  direction: rtl;
}
.blog-wrap header {
  text-align: center;
}

.blog-date {
  font-size: 1.6rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  width: 100%;
}

.blog-subCategory {
  display: flex;
  justify-content: center;
}
.blog-subCategory > div {
  margin: 1rem;
}
.blog-desc {
  padding: 1rem;
  margin-top: 1.5rem;
}

.blogMargin {
  margin: 5rem;
}

/** 
LOADING data
*/

.loaderBlog {
  position: static;
  top: calc(50% - 1.5em);
  left: calc(50% - 1.5em);
  width: 2em;
  height: 2em;
  border: 0.5em solid #f3f3f3;
  border-left: 0.5em solid #3498db;
  border-radius: 50%;
  animation: spin 1.1s infinite linear;
  transition: opacity 0.3s;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}